* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
  color: rgb(158, 156, 156);
}

.wrapper {
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid-container {
  font-family: Reddit Mono;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2;
  display: grid;
  grid-template-areas:
    "left-sidebar main-content right-sidebar"
    "footer footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  gap: 10px;
  height: 100%;
  padding: 20px;
}

.grid-item {
  border-radius: 8px;
}

.item1 {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 288px;
  background-color: #000000;
  grid-area: left-sidebar;
  gap: 10px;
}

.top {
  display: flex;
  align-items: center;
  background-color: #121212;
  border-radius: 8px;
  height: 96px;
  /* overflow-x: hidden; */
}

.top > ul {
  padding:
   8px 12px;
}
.top > ul > li {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 12px;
}

.bottom {
  border-radius: 8px;
  background-color: #121212;
  min-height: 0;
  flex: 1;
}

.item2 {
  width: 100%;
  /* overflow: hidden; */
  overflow: auto;
  background-color: #121212;
  grid-area: main-content;
  padding: 10px;
}

.header{
  display: flex;
}

.item2::-webkit-scrollbar {
  display: none;
}

.item3 {
  width: 288px;
  background-color: #121212;
  grid-area: right-sidebar;
}
.item4 {
  height: 72px;
  width: 100%;
  background-color: #121212;
  grid-area: footer;
}
